src/conf/xml-resources/web-service-references/IDemo/wsdl/localhost_8080/Lab3J210A-war/IDemo.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://web.lab3/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://web.lab3/" name="IDemo">
<types>
<xsd:schema>
<xsd:import namespace="http://web.lab3/" schemaLocation="http://localhost:8080/Lab3J210A-war/IDemo?xsd=1"/>
</xsd:schema>
</types>
<message name="getAllMessage">
<part name="parameters" element="tns:getAllMessage"/>
</message>
<message name="getAllMessageResponse">
<part name="parameters" element="tns:getAllMessageResponse"/>
</message>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="getMessage">
<part name="parameters" element="tns:getMessage"/>
</message>
<message name="getMessageResponse">
<part name="parameters" element="tns:getMessageResponse"/>
</message>
<portType name="IDemoImpl">
<operation name="getAllMessage">
<input wsam:Action="http://web.lab3/IDemoImpl/getAllMessageRequest" message="tns:getAllMessage"/>
<output wsam:Action="http://web.lab3/IDemoImpl/getAllMessageResponse" message="tns:getAllMessageResponse"/>
</operation>
<operation name="add">
<input wsam:Action="http://web.lab3/IDemoImpl/addRequest" message="tns:add"/>
<output wsam:Action="http://web.lab3/IDemoImpl/addResponse" message="tns:addResponse"/>
</operation>
<operation name="getMessage">
<input wsam:Action="http://web.lab3/IDemoImpl/getMessageRequest" message="tns:getMessage"/>
<output wsam:Action="http://web.lab3/IDemoImpl/getMessageResponse" message="tns:getMessageResponse"/>
</operation>
</portType>
<binding name="IDemoImplPortBinding" type="tns:IDemoImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAllMessage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMessage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="IDemo">
<port name="IDemoImplPort" binding="tns:IDemoImplPortBinding">
<soap:address location="http://localhost:8080/Lab3J210A-war/IDemo"/>
</port>
</service>
</definitions>